future
emoji
beautifulsoup4
requests
sqlalchemy
spongemock
tswift
coffeehouse
spamwatch
python-telegram-bot==12.8
telethon
PyYAML==5.4
numpy
urbandict
pyowm
wikipedia
kbbi
feedparser
gtts
alphabet_detector
tabulate
parsel
youtube_dl
hurry.filesize
tldextract
psycopg2-binary
feedparser
tswift
pynewtonmath
#memes vvv
spongemock
zalgo-text
geopy
nltk
psutil
pytz
markdown2
bleach
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
#translator
googletrans
jikanpy
speedtest-cli
